/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.center > iframe {
    width: 100% !important;
}
@media screen and (max-width: 768px) {
    .center {
        width: 100%;
    }
}

#download-button {
  margin-left: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}
